{% extends "base.html" %}
{% block title %}Map{% endblock %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" type="text/css" media="all" />
	<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}" type="text/css" media="all" />

{% endblock %}
{%block content %}
		<div id="map">
		</div>

		<span class="toggle" id="skiToggle" href="#" title="toggle ski"><img src="/static/button_ski_blue.png" alt="toogle ski" /></span>
		<span class="toggle" id="glisseToggle" href="#" title="toggle glissade"><img src="/static/button_glisse_blue.png" alt="toggle glissade" /></span>
		<span class="toggle" id="tracksToggle" href="#" title="toggle tracks"><img src="/static/button_track_blue.png" alt="toggle glissade" /></span>
	</div>

	<div id="info">
		<p>
			R&eacute;alis&eacute; par: <a href="http://phmongeau.github.com">Philippe Mongeau.</a>
		</p>
		<p>
			Code soure:
			<a href="https://github.com/phmongeau/SkiMontreal">https://github.com/phmongeau/SkiMontreal</a>
		</p>
		<p>
			<a href="http://mapicons.nicolasmollet.com/">
				<img src="{{ url_for('static', filename='map_icons_logo.gif') }}" alt="" />
			Les icons de ski sont crées par Map Icons Collections</a>
			sous licence <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA 3.0</a>
		</p>

		<p>
		Ce produit contient des <a href="http://donnees.ville.montreal.qc.ca/fiche/conditions-ski/">données</a> accordées sous licence « telles quelles » aux termes de l’accord de <a href="http://donnees.ville.montreal.qc.ca/licence/licence-texte-complet">licence d’utilisation</a> des données de la Ville de Montr&eacute;al. L’octroi de la licence ne constitue pas une approbation du produit par la Ville de Montréal.
		</p>
		
		<p>Updated at:
			<span id="update"></span>
		</p>
{% endblock %}

{% block javascript %}
	{{ super() }}
	<script src="http://www.openlayers.org/api/OpenLayers.js" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='ski_map.js') }}" type="text/javascript"></script>
{% endblock %}
