{% extends "base.html" %}
{% block title %} Contribuer {% endblock %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" type="text/css" media="all" />
	<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}" type="text/css" media="all" />
{% endblock %}
{% block messages %}
	<div id="messages">
		{% with messages = get_flashed_messages(with_categories=True) %}
			{% if messages %}
				<ul class="unstyled flashes">
					{% for category, message in messages %}
					<li class="alert alert-{{ category }}">{{ message }} <a class="close" data-dismiss="alert">×</a></li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	</div>
{% endblock %}

{% block nav %}
	<li><a href="/">Carte</a></li>
	<li class="active"><a href="/contribuer">Contribuer</a></li>
{% endblock %}


{% block content %}
	<h2>Comment contribuer:</h2>
	<h3>Envoyer des tracés GPS</h3>

	<form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data" accept-charset="utf-8">
		<div id="dropzone">
			<input id="input" name="file" type="file" multiple="" onchange="handleFiles(this.files)"/>
			<span id="drop_text">Drop a file here</span>
			<span id="progress"></span>
		</div>
		<div id="file_list">
			<ul class="unstyled file_item">
			</ul>
		</div>
		<a href="#" class="btn btn-primary" id="send_form">Envoyer</a>
	</form>

	<h3>Contribuer au code</h3>
	<p>Le code source  est disponible sur Github</p>
	<a href="https://github.com/phmongeau/SkiMontreal">https://github.com/phmongeau/SkiMontreal</a>
{% endblock %}

{% block javascript %}
	{{ super() }}

	<script src="{{ url_for('static', filename='upload.js') }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-alert.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
